<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>Welcome to the practical hands-on SAS blog, where you can learn the 80/20 of SAS data management and reporting.
			Focus on the things that are applicable, and practice on real-world projects and examples.</p>
	</div>
	<div class="col-2 homepage_content">
		<h2>Random posts</h2>
		<hr>
		<% @posts.each do |post| %>
			<h3><%= link_to post.title, post %></h3>
			<!-- <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p> -->
		<% end %>
	</div>
	<div class="col-3 homepage_content">
		<h2>Immersion Projects</h2>
		<hr>
		<% @projects.each do |project| %>
			<h3><%= link_to project.title, project %></h3>
			<!-- <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p> -->
		<% end %>
	</div>
</div>
